body{
   background-image: url('img/1646011848_3-abrakadabra-fun-p-zhivie-oboi-na-rabochii-stol-matritsa-3.jpg');
}
.elDown{
   background-color: rgb(0, 0, 0);
   font-size: 50px;
   text-align: center;
   color:green;
}
.out{
   background-color: black;
   font-size: 25px;
   font-family: monospace;
   color: green;
}
img{
   width: 200px;
   height: 150px;
   border-radius: 50%;
}
.botton-inner{
   position: absolute;
   background-color: rgb(21, 235, 21);
   height: 100px;
   width: 400px;
   color: black;
   border-radius: 5%;
   font-size: 40px;
   margin-top: 12px;
   margin-left:200px ;
}
.botton-inner:hover{
   background-color: yellow;
}